snap/love-prepared/
snap/love_*.snap
tarball/love-*.tar.gz
appimage/love-prepared/
appimage/*.AppImage
appimage/AppRun*
appimage/squashfs-root/
flatpak/repo/
flatpak/files/
flatpak/export/
flatpak/*.flatpak
/game.love
/game.desktop.in
/game.svg
/game.rdns
/game.version